@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  color: #414141; }

h1 {
  font-size: 2rem;
  font-weight: 600; }

h2 {
  font-size: 1.5rem;
  font-weight: 600; }

h3 {
  font-size: 1.2rem;
  font-weight: 400; }

h4, h5, h6 {
  font-size: 1rem;
  font-weight: 300; }

p {
  font-size: 1rem; }

span {
  font-size: .8rem; }

#content-container {
  padding: 0 2rem; }

input,
select {
  appearance: none;
  padding: .8rem 1rem;
  border: 1px solid #e3e3e3;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color: #7a7a7a;
  width: 100%;
  font-size: 1rem;
  max-width: 100%; }
  input select option,
  select select option {
    color: #7a7a7a; }

.header {
  display: flex;
  background-color: #00a7e1;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .header .branding {
    display: flex; }
    .header .branding h1 {
      margin-left: 1rem; }
  .header .logo {
    width: 48px;
    height: 48px; }
    .header .logo svg {
      animation-name: rotate;
      animation-duration: 60s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#search-and-filter-container {
  margin: 1.2rem auto; }
  #search-and-filter-container .search,
  #search-and-filter-container .filter {
    margin: 1rem auto;
    position: relative; }
    #search-and-filter-container .search .search-input,
    #search-and-filter-container .filter .search-input {
      position: relative; }
    #search-and-filter-container .search .fa-search,
    #search-and-filter-container .filter .fa-search {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      color: #c7c7c7; }
    @media (min-width: 900px) {
      #search-and-filter-container .search,
      #search-and-filter-container .filter {
        width: 30%;
        margin-left: 0;
        margin-right: 0; } }
  @media (min-width: 900px) {
    #search-and-filter-container {
      display: flex;
      justify-content: space-between; } }

#match-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  #match-container .match-item {
    width: 100%;
    margin: 2rem 0;
    background: #fff;
    padding: 1rem 0;
    border-radius: 5px; }
    #match-container .match-item .high-light-title,
    #match-container .match-item .match-details {
      padding: 0 1rem; }
    #match-container .match-item .high-light-title {
      color: #00a7e1;
      font-size: 1.2rem; }
    #match-container .match-item .high-light-video {
      margin: 1rem 0; }
    #match-container .match-item .match-details {
      display: flex;
      justify-content: space-between;
      font-size: .8rem;
      color: #7a7a7a;
      font-weight: 600; }
      #match-container .match-item .match-details .fa-trophy,
      #match-container .match-item .match-details .fa-calendar-alt {
        margin-right: 0.5rem; }
    @media (min-width: 900px) {
      #match-container .match-item {
        width: 45%; } }
