<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css">

    <title>Football</title>
</head>

<body>
    <main id="wrapper">
        <section id="content-container">
            {{{body}}}
        </section>
    </main>
    <script src="../assets/js/app.js"></script>
</body>

</html>