input,
select {
    appearance: none;
    padding: .8rem 1rem;
    border: 1px solid #e3e3e3;
    @include controls-border();
    @include border-radius(5px);
    color: $thirdary-text-color;
    width: 100%;
    font-size: 1rem;
    max-width: 100%;

    select {
        option {
            color: $thirdary-text-color;
        }
    }
}