.header {
    display: flex;
    background-color: $primary-theme-color;
    justify-content: center;
    align-items: center;
    padding: $base-spacing;
    margin: 0 -2rem;

    .branding {
        display: flex;

        h1 {
            margin-left: $base-spacing;
        }
    }
    .logo {
        width: 48px;
        height: 48px;

        svg{
            animation-name: rotate;
            animation-duration: 60s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
        }
    }
}
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }