$background-color: #c5c5c5;
$white: #fff;


$primary-theme-color: #00a7e1;
$primary-theme-color-light: #007ea7;
$primary-theme-color-dark: #003459;
$primary-text-color: #00171f;
$primary-btn-color: #ff595e;

$succes-color: #248232;
$error-color: #d00000;
$warning-color: #ffba08;

$secondary-text-color: #31393c;
$thirdary-text-color: #7a7a7a;


